*{
    margin: 0;
}

html{
    background-color: rgb(90, 186, 183);
}

nav{
    background-color: rgb(172, 225, 218);
    line-height: 3pc;
    font-size: 100;
    color: rgb(56, 64, 110);
    border-bottom: solid 2px rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-around;
    
}

h1, h2{
    padding: 1pc;
    text-align: center;
}

h1, h2, p, a, li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    height: 300px;
    border-radius: 30px;
    padding: 1pc;
}

ol{
    list-style-position: inside;
}

#IndiceCapitulo1, #IndiceCapitulo2{
    display: flex;
    justify-content: center;
}

div{
    background-color: rgb(172, 225, 218);
    display:block;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 5px;
    width: auto;
    padding: 4pc;
    text-align: justify;
}

aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    text-decoration: none;
    color: rgb(56, 87, 53)
}

footer{
    background-color: rgb(172, 225, 218);
    line-height: 3pc;
    font-size: 100;
    color: rgb(56, 64, 110);
    border-top: solid 2px rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2pc;
}
.cajacapitulo2{
    width: 130px;
    border-radius: 15px;
    justify-content: center;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;  
    text-align: center;
    
}
.cajacapitulo2 p{
    background-color: rgb(232, 255, 255);
    border-radius: 7px;
    padding: 1px;
}

.caja2capitulo2{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1px;
}
#ImagenBastet{
    width: 80px;
}
#GatosEgipto1{
    width: 190px; 
}
#GatoRoma{
    width: 160px;
    border-radius: 30px;
}
#CuadroGatoRoma{
    width: 215px;
}
#TumbaGato{
    width: 270px;
}
#GatoGrecia{
    width: 160px;
    border-radius: 10px;
}
#maneki_neko{
    width: 240px;
    border-radius: 10px;

}
#diosa_Shashthi{
    width: 160px;
    border-radius: 10px;
}
#Gatos_Arte{
    width: 240px;
    border-radius: 30px;
}